{sub_dirs, [
            "apps/cb_admin",
            "apps/wamp",
            "rel"
           ]}.

{erl_opts, [
	    debug_info 
	    %,fail_on_warning
	   ]}.

{deps, [
    	{boss, ".*", {git, "git://github.com/mihawk/ChicagoBoss.git",  {branch, "wamp"}}}
    	%%{boss, ".*", {git, "git://github.com/ChicagoBoss/ChicagoBoss.git",  {branch, "HEAD"}}}
        ,{jsx,    ".*", {git, "https://github.com/talentdeficit/jsx.git",  {tag, "v1.3.3"}}}
        ,{gun,    ".*", {git, "https://github.com/extend/gun.git",  {branch, "HEAD"}}}

	%, PUT HERE YOUR DEPS
	]}.

{require_otp_vsn, "R15B03|R16B"}.


